<%-include('nav.ejs')%>
 <form action="/admin/our_features_det" method="post" enctype="multipart/form-data">
    <div class="container-fluid bg-white p-3 border"> 
        <h3 class="mb-3 text-info"> Our Features Page </h3>
          <div class="row">
            <div class="col-md-3 mb-4">
                 Select Image
                 <input type="file" class="form-control"  name="features_image" accept="image/*">
            </div>  
           <div class="col-md-3">
             <img src="/uploads/<%=fea_det[0].features_image%>" width="100%">
           </div>
            <div class="col-md-6 mb-4">
                 Enter  Title
                 <input type="text" name="features_title" class="form-control" value="<%=fea_det[0].features_title%>">
            </div>   
            <div class="col-md-12 mb-4">
                Enter  Description
                <textarea  name="features_desc" class="form-control"><%=fea_det[0].features_desc%></textarea>
           </div>  
           <div class="col-12 mt-4">
             <button class="btn btn-primary float-right">SAVE FEATURES IMAGE</button>
          </div>
          </div>
     </div>
 </form>
 <br><br>


 <form action="/admin/save_features" method="post">
  <div class="container-fluid bg-white p-3 border">
     <h4 class="text-info"> Features</h4>
        <div class="row">
            <div class="col-md-6 mb-4">
                Enter Feature Icon
                <input type="text" name="feature_icon" class="form-control">
             </div>
          <div class="col-md-6 mb-4">
             Enter Feature
             <input type="text" name="feature" class="form-control">
          </div>
          <div class="col-12 mb-4">
              <button class="btn btn-primary float-right">ADD FEATURE</button>
            </div>
        </div>
    </div>
 </form>
 <br><br>
 <div class="container mb-3 p-3 bg-white ">
   <h3 class="text-info">Features List</h3>
    <div class="row">
       <div class="col-md-6 text-center"><br>
          <table class="table table-hover table-bordered table-stripped">
                <tr>
                  <th>Action</th>
                  <th>SN</th>
                  <th>Feature icon</th>
                  <th>Feature</th>
                </tr>
                <% for (i=0;i<features.length;i++) { %>
                  <tr>
                    <td>
                      <a href="/admin/delete_feature?id=<%=features[i].feature_id%>"><i class="fa fa-trash btn btn-outline-danger btn-sm" onclick="return confirm('Are You Sure.....?')" ></i></a>
                      <a href="/admin/edit_feature?id=<%=features[i].feature_id%>"><i class="fa fa-edit btn btn-outline-primary btn-sm"></i></a>
                    </td>
                    <td><%= i+1 %></td>
                    <td><%=features[i].feature_icon%></td>
                    <td><%=features[i].feature%></td>
                  </tr>
                <% } %>
          </table>
      </div>
    </div>
 </div>

 <%-include('footer.ejs')%>
