<%-include('nav.ejs')%>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/uploads/<%=port_image[0].portfolio_image%>');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Portfolio</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Portfolio</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <% for(var i=0;i<port_type.length;i++) { %>
            <li data-filter=".filtermy<%=port_type[i].portfolio_type_id%>"><%=port_type[i].portfolio_type%> - <%=port_type[i].portfolio_type_id%></li>
            <% } %>           
          </ul>

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">
              <% 
              function getoneimage(str)
              { 
                  return str.split("||")[0] 
              } 
              for(var i=0;i<portfolio.length;i++)
                  { %>
                  <div class="col-lg-4 col-md-6 portfolio-item filtermy<%=portfolio[i].portfolio_type_id%>">
                      <img src="/uploads/<%=getoneimage(portfolio[i].portfolio_image)%>"   alt="portfolio_img" height="300px" width="100%">
                      <div class="portfolio-info">
                          <h4>  <%=portfolio[i].portfolio_title%></h4>
                          <p> <%=portfolio[i].portfolio_subtitle%> </p>
                          <a href="/uploads/<%=getoneimage(portfolio[i].portfolio_image)%>"  title="App 1"
                              data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                  class="bi bi-zoom-in"></i></a>
                                  <a href="/portfolio_det?id=<%=portfolio[i].portfolio_id%>" title="More Details" class="details-link"><i
                                      class="bi bi-link-45deg"></i></a>
                          </div>
                      </div>
                      <% } %>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <%-include('footer.ejs')%>